body:not(.loaded) {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  overflow: hidden;
  height: 100%;
  color: #f8fafc;
}

body {
  overflow: auto;
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: url(/media/main-background.webp);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
}

h1 {
  width: 40vw;
  font-size: 4.8rem;
  letter-spacing: 1.2px;
}

.button-container {
  display: flex;
  width: 40vw;
  align-items: start;
}

.catalog-btn {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 1.4rem 1.6rem;
  border-radius: 4px;
  color: #f8fafc;
  background-color: #dc2626;
  font-weight: 600;
  letter-spacing: 0.6px;
  font-size: 1.6rem;
  text-transform: uppercase;

  transition: 0.3s all;
}

.catalog-btn:hover {
  background-color: rgba(220, 38, 38, 0.7);
}

.catalog-btn:active {
  background-color: #dc2626;
}

.right {
  width: 50vw;
  height: 100vh;
}
